
<div class="container">
    <div class="row">
        <div class="col-6">
            <!-- image -->
            <img src="https://cdn.dribbble.com/users/129972/screenshots/3964116/75_smile.gif" alt="">
        </div>
        <div class="col-6">
            <!-- form -->
           
            <div class="form  p-5">
                <h1 class="text-center m-3 text-primary">Login Here...</h1>
                <form  (ngSubmit)="login()">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input [(ngModel)]="stud_email" name="stud_email" type="email" id="form2Example1" class="form-control" />
                      <label class="form-label" for="form2Example1">Email address</label>
                    </div>
                  
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input [(ngModel)]="stud_pswd" name="stud_pswd" type="password" id="form2Example2" class="form-control" />
                      <label class="form-label" for="form2Example2">Password</label>
                    </div>
                  
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                      <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked />
                          <label class="form-check-label" for="form2Example34"> Remember me </label>
                        </div>
                      </div>
                  
                      <div class="col">
                        <!-- Simple link -->
                        <a routerLink="/register">New to here?  Register Now!!!</a>
                      </div>
                    </div>
                  
                 
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                       <!-- Submit button -->
                       <button  data-mdb-ripple-init type="button" class=" m-3 btn-lg btn btn-primary btn-block mb-4" type="submit" >Sign in</button>
                     
                     
                       <p>or sign up with:</p>
                      <button  data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                  
                      <button  data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
                  
                      <button  data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
                  
                      <button  data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>