<div>
    <img width="100%" height="450px"  src="https://wallpaperaccess.com/full/6367121.jpg" alt="">
</div>

<div class="row">
    <div class="col-6">
        <!-- content -->
        <h3 class="text-center m-5">Keep moving up</h3>
        <p class="px-5 fw-bolder">Learn the skills you need to take the next step — and every step after. Courses from ₹499 through Feb 29.</p>

        <div class=" text-center">
            <button class="btn btn-primary" routerLink="/login">Get Started</button>
        </div>
    </div>
    <div class="col-6">
        <!-- image -->
        <img width="100%" src="https://storage.googleapis.com/swayam2_central/assets/img/student.png" alt="">
    </div>
</div>